TASKBOARD_STORAGE=upstash
TASKBOARD_LOCAL_FILE=.taskboard/local-taskboard.json
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
TASKBOARD_REDIS_KEY=taskboard:main
TASKBOARD_HOST=127.0.0.1
TASKBOARD_PORT=8787