TASKBOARD_MODE=private
TASKBOARD_STATE_DIR=.kanboard/state
TASKBOARD_IDENTITY_FILE=.kanboard/identity.json
TASKBOARD_USER_FILE=.kanboard/user.json
TASKBOARD_PRIVATE_USERNAME=Private User
TASKBOARD_DB_STRING=
TASKBOARD_EVM_PRIVATE_KEY=
TASKBOARD_BACKUP_INTERVAL_MINUTES=60
TASKBOARD_HOST=127.0.0.1
TASKBOARD_PORT=8787
